# Android
/android/app/build/
/android/build/

# iOS
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.framework/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.*

# Build
/build/

# Dart
.dart_tool/
.packages
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# Miscellaneous
.DS_Store
*.log
*.lock